<div class="container">
  
  <div class="raw border">
    <p>Un primo esempio</p>
    <app-observable01></app-observable01>
  </div>

  <div class="raw border">
    <p>Un secondo esempio</p>
    <app-observable02></app-observable02>
  </div>

  <div class="raw border">
    <p>Un terzo esempio</p>
    <app-observable03></app-observable03>
  </div>

  <div class="raw border">
    <p>Un quarto esempio</p>
    <app-observable04></app-observable04>
  </div>

  <div class="raw border">
    <p>Un quinto esempio</p>
    <app-observable05></app-observable05>
  </div>
</div>
